body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Ocultar barra de desplazamiento para Chrome, Safari y Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Ocultar barra de desplazamiento para IE, Edge y Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ocultar barra de desplazamiento en todos los elementos con scroll */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
} 